.catkin_tools/
.catkin_workspace
.codex
.vscode/

build/
devel/

log/
logs/
Log/

operations.db
wheel_speed_odom_debug.csv
{c}:

map/
test_bag/
frontend-src/
frames.gv
frames.pdf
.~lock.*#

*.pyc
__pycache__/

src/realsense-ros/.git/
