<launch>
    <arg name="camera_name" default="gemini"/>
    <arg name="device_num" default="2"/>

    <arg name="camera1_prefix" default="cf"/>
    <arg name="camera2_prefix" default="nj"/>

    <arg name="camera1_serial_number" default="AY23B5200CF"/>
    <arg name="camera2_serial_number" default="AY23B5200NJ"/>

    <arg name="depth_width" default="1280"/>
    <arg name="depth_height" default="800"/>
    <arg name="depth_fps" default="30"/>
    <arg name="color_width" default="640"/>
    <arg name="color_height" default="480"/>
    <arg name="color_fps" default="30"/>
    <arg name="log_level" default="info"/>

    <include file="$(find orbbec_camera)/launch/gemini.launch">
        <arg name="camera_name" value="$(arg camera_name)_$(arg camera1_prefix)"/>
        <arg name="serial_number" value="$(arg camera1_serial_number)"/>
        <arg name="device_num" value="$(arg device_num)"/>
        <arg name="enable_color" value="true"/>
        <arg name="enable_ir" value="false"/>
        <arg name="enable_point_cloud" value="false"/>
        <arg name="enable_colored_point_cloud" value="false"/>
        <arg name="publish_tf" value="false"/>
        <arg name="depth_width" value="$(arg depth_width)"/>
        <arg name="depth_height" value="$(arg depth_height)"/>
        <arg name="depth_fps" value="$(arg depth_fps)"/>
        <arg name="color_width" value="$(arg color_width)"/>
        <arg name="color_height" value="$(arg color_height)"/>
        <arg name="color_fps" value="$(arg color_fps)"/>
        <arg name="log_level" value="$(arg log_level)"/>
    </include>

    <include file="$(find orbbec_camera)/launch/gemini.launch">
        <arg name="camera_name" value="$(arg camera_name)_$(arg camera2_prefix)"/>
        <arg name="serial_number" value="$(arg camera2_serial_number)"/>
        <arg name="device_num" value="$(arg device_num)"/>
        <arg name="enable_color" value="true"/>
        <arg name="enable_ir" value="false"/>
        <arg name="enable_point_cloud" value="false"/>
        <arg name="enable_colored_point_cloud" value="false"/>
        <arg name="publish_tf" value="false"/>
        <arg name="depth_width" value="$(arg depth_width)"/>
        <arg name="depth_height" value="$(arg depth_height)"/>
        <arg name="depth_fps" value="$(arg depth_fps)"/>
        <arg name="color_width" value="$(arg color_width)"/>
        <arg name="color_height" value="$(arg color_height)"/>
        <arg name="color_fps" value="$(arg color_fps)"/>
        <arg name="log_level" value="$(arg log_level)"/>
    </include>
</launch>
