<launch>
  <arg name="config_root" default="$(find cleanrobot)/config/cartographer"/>
  <arg name="landmark_param_yaml" default="$(find cleanrobot)/config/cartographer/landmark_719.yaml"/>
  <arg name="runtime_ns" default="/cartographer/runtime"/>
  <arg name="map_topic" default="/map"/>
  <arg name="resolution" default="0.05"/>
  <arg name="publish_period_sec" default="1.0"/>
  <arg name="map_name" default=""/>
  <arg name="map_version" default=""/>
  <arg name="pbstream_path" default=""/>
  <arg name="auto_start" default="false"/>

  <node pkg="cleanrobot" type="cartographer_supervisor_node.py" name="cartographer_supervisor" output="screen">
    <param name="runtime_ns" value="$(arg runtime_ns)"/>
    <param name="config_root" value="$(arg config_root)"/>
    <param name="landmark_param_yaml" value="$(arg landmark_param_yaml)"/>
    <param name="mode" value="localization"/>
    <param name="map_name" value="$(arg map_name)"/>
    <param name="map_version" value="$(arg map_version)"/>
    <param name="pbstream_path" value="$(arg pbstream_path)"/>
    <param name="map_topic" value="$(arg map_topic)"/>
    <param name="resolution" value="$(arg resolution)"/>
    <param name="publish_period_sec" value="$(arg publish_period_sec)"/>
    <param name="auto_start" value="$(arg auto_start)"/>
    <param name="include_unfrozen_submaps" value="false"/>
  </node>
</launch>
