<?xml version="1.0" encoding="UTF-8"?>
<launch>
   <arg name="start_depth_cameras" default="true"/>
   <include file="$(find cleanrobot_description)/launch/robot_state_only.launch"/>
   <include file="$(find vanjee_lidar_sdk)/launch/start.launch"/>
   <include file="$(find fdilink_ahrs)/launch/ahrs_data.launch"/>
   <group if="$(arg start_depth_cameras)">
      <include file="$(find cleanrobot)/launch/orbbec_dual_depth_ground.launch"/>
   </group>
</launch>
