<launch>
  <!--
    Real-robot bringup (minimal):
      - hardware TCP bridges
      - docking controller (fine docking action)
      - coverage task+executor system, with dock_supply enabled

    Usage:
      roslaunch robot_hw_bridge bringup_real_robot.launch
  -->

  <arg name="start_navigation" default="true"/>
  <arg name="plan_db_path" default="/data/coverage/planning.db"/>
  <arg name="ops_db_path" default="/data/coverage/operations.db"/>
  <arg name="maps_root" default="/data/maps"/>
  <arg name="external_maps_root" default="/home/sunnybaer/Doraemon/map"/>
  <arg name="robot_id" default="local_robot"/>
  <arg name="map_name" default=""/>
  <arg name="legacy_map_src_glob" default=""/>
  <arg name="cartographer_mode" default="localization"/>
  <arg name="cartographer_runtime_ns" default="/cartographer/runtime"/>
  <arg name="cartographer_config_root" default="$(find cleanrobot)/config/cartographer"/>
  <arg name="start_planner_server" default="true"/>
  <arg name="enable_rect_zone_planner" default="true"/>
  <arg name="start_legacy_mapping_service" default="false"/>
  <arg name="mechanical_connect_enable" default="false"/>
  <arg name="dock_pose_score_thresh" default="0.00012"/>
  <arg name="restart_localization_contract_param_ns" default="/cartographer/runtime/contracts/restart_localization"/>

  <!-- start TCP bridges + supply manager -->
  <include file="$(find robot_hw_bridge)/launch/hardware_bridges.launch">
    <arg name="mechanical_connect_enable" value="$(arg mechanical_connect_enable)"/>
    <arg name="dock_pose_score_thresh" value="$(arg dock_pose_score_thresh)"/>
  </include>

  <group if="$(arg start_navigation)">
    <include file="$(find cleanrobot)/launch/cartographer_localization.launch">
      <arg name="config_root" value="$(arg cartographer_config_root)"/>
      <arg name="runtime_ns" value="$(arg cartographer_runtime_ns)"/>
      <arg name="map_name" value="$(arg map_name)"/>
      <arg name="auto_start" value="false"/>
    </include>

    <node pkg="coverage_planner" type="cartographer_runtime_manager_node.py" name="cartographer_runtime_manager" output="screen">
      <param name="plan_db_path" value="$(arg plan_db_path)"/>
      <param name="ops_db_path" value="$(arg ops_db_path)"/>
      <param name="robot_id" value="$(arg robot_id)"/>
      <param name="runtime_ns" value="$(arg cartographer_runtime_ns)"/>
      <param name="map_name" value="$(arg map_name)"/>
      <param name="startup_activate_map" value="false"/>
      <param name="activate_service" value="/map_assets/activate"/>
      <param name="relocalize_service" value="/map_assets/relocalize"/>
      <param name="reload_service" value="/cartographer/runtime/reload"/>
      <param name="map_topic" value="/map"/>
    </node>

    <node pkg="coverage_planner" type="localization_lifecycle_manager_node.py" name="localization_lifecycle_manager" output="screen">
      <param name="plan_db_path" value="$(arg plan_db_path)"/>
      <param name="ops_db_path" value="$(arg ops_db_path)"/>
      <param name="robot_id" value="$(arg robot_id)"/>
      <param name="runtime_ns" value="$(arg cartographer_runtime_ns)"/>
      <param name="service_name" value="/cartographer/runtime/restart_localization"/>
      <param name="contract_param_ns" value="$(arg restart_localization_contract_param_ns)"/>
      <param name="map_topic" value="/map"/>
      <param name="tracked_pose_topic" value="/tracked_pose"/>
    </node>

    <include file="$(find clean_robot_description)/launch/mbf_nav.launch">
      <arg name="plan_db_path" value="$(arg plan_db_path)"/>
      <arg name="ops_db_path" value="$(arg ops_db_path)"/>
      <arg name="robot_id" value="$(arg robot_id)"/>
      <arg name="map_name" value="$(arg map_name)"/>
      <arg name="external_maps_root" value="$(arg external_maps_root)"/>
      <arg name="start_static_map_manager" value="false"/>
    </include>

    <group if="$(arg start_planner_server)">
      <include file="$(find coverage_planner)/launch/planner_server.launch">
        <arg name="plan_db_path" value="$(arg plan_db_path)"/>
        <arg name="robot_id" value="$(arg robot_id)"/>
        <arg name="map_topic" value="/map"/>
        <arg name="enable_rect_zone_planner" value="$(arg enable_rect_zone_planner)"/>
      </include>
    </group>
  </group>

  <group if="$(arg start_legacy_mapping_service)">
    <node pkg="coverage_planner" type="map_asset_manager_node.py" name="map_asset_manager" output="screen">
      <param name="plan_db_path" value="$(arg plan_db_path)"/>
      <param name="maps_root" value="$(arg maps_root)"/>
      <param name="robot_id" value="$(arg robot_id)"/>
      <param name="map_topic" value="/map"/>
      <param name="runtime_ns" value="$(arg cartographer_runtime_ns)"/>
      <param name="cartographer_save_state_service" value="/cartographer/runtime/save_state"/>
      <param name="set_active_on_save" value="true"/>
      <param name="service_name" value="/clean_robot_server/mapping_server"/>
    </node>
  </group>

  <!-- task+executor system (task manager owns auto charge) -->
  <include file="$(find coverage_task_manager)/launch/task_system.launch">
    <arg name="task_auto_charge_enable" value="true"/>
    <arg name="executor_auto_charge_enable" value="false"/>
    <arg name="dock_supply_enable" value="true"/>
    <arg name="plan_db_path" value="$(arg plan_db_path)"/>
    <arg name="ops_db_path" value="$(arg ops_db_path)"/>
    <arg name="maps_root" value="$(arg maps_root)"/>
    <arg name="robot_id" value="$(arg robot_id)"/>
    <arg name="run_map_migration" value="false"/>
    <arg name="legacy_map_src_glob" value="$(arg legacy_map_src_glob)"/>
  </include>

</launch>
