<launch>
  <!--
    Real-robot bringup (minimal):
      - hardware TCP bridges
      - docking controller (fine docking action)
      - coverage task+executor system, with dock_supply enabled

    Usage:
      roslaunch robot_hw_bridge bringup_real_robot.launch
  -->

  <arg name="start_navigation" default="true"/>
  <arg name="plan_db_path" default="/data/coverage/planning.db"/>
  <arg name="ops_db_path" default="/data/coverage/operations.db"/>
  <arg name="maps_root" default="/data/maps"/>
  <arg name="external_maps_root" default="/data/maps/imports"/>
  <arg name="robot_id" default="local_robot"/>
  <arg name="map_name" default=""/>
  <arg name="cartographer_mode" default="localization"/>
  <arg name="cartographer_runtime_ns" default="/cartographer/runtime"/>
  <arg name="cartographer_config_root" default=""/>
  <arg name="start_odometry_runtime" default="true"/>
  <arg name="start_planner_server" default="true"/>
  <arg name="enable_rect_zone_planner" default="true"/>
  <arg name="enable_depth_obstacle_tracking" default="true"/>
  <arg name="start_depth_camera_runtime" default="true"/>
  <arg name="publish_robot_tf_for_depth_cameras" default="true"/>
  <arg name="enable_depth_left_cam" default="true"/>
  <arg name="enable_depth_right_cam" default="true"/>
  <arg name="enable_depth_up_cam" default="false"/>
  <arg name="depth_left_points_topic" default="/gemini_cf/depth/points"/>
  <arg name="depth_right_points_topic" default="/gemini_nj/depth/points"/>
  <arg name="depth_left_obstacle_topic" default="obstacle_2d"/>
  <arg name="depth_right_obstacle_topic" default="obstacle_2d"/>
  <arg name="camera1_bind_by_usb_port" default="false"/>
  <arg name="camera2_bind_by_usb_port" default="false"/>
  <arg name="mechanical_connect_enable" default="false"/>
  <arg name="dock_pose_score_thresh" default="0.00012"/>
  <arg name="restart_localization_app_service_name" default="/cartographer/runtime/app/restart_localization"/>
  <arg name="restart_localization_app_contract_param_ns" default="/cartographer/runtime/contracts/app/restart_localization"/>

  <!-- start TCP bridges + supply manager -->
  <include file="$(find robot_hw_bridge)/launch/hardware_bridges.launch">
    <arg name="mechanical_connect_enable" value="$(arg mechanical_connect_enable)"/>
    <arg name="dock_pose_score_thresh" value="$(arg dock_pose_score_thresh)"/>
  </include>

  <group if="$(arg start_navigation)">
    <group if="$(arg start_odometry_runtime)">
      <include file="$(find wheel_speed_odom_bridge)/launch/imu_bias_correction.launch"/>
      <include file="$(find wheel_speed_odom_bridge)/launch/wheel_speed_odom.launch"/>
    </group>

    <group if="$(arg enable_depth_obstacle_tracking)">
      <group if="$(arg start_depth_camera_runtime)">
        <include file="$(find cleanrobot)/launch/depth_obstacle_runtime.launch">
          <arg name="start_robot_state_publisher" value="$(arg publish_robot_tf_for_depth_cameras)"/>
          <arg name="start_depth_cameras" value="true"/>
          <arg name="camera1_bind_by_usb_port" value="$(arg camera1_bind_by_usb_port)"/>
          <arg name="camera2_bind_by_usb_port" value="$(arg camera2_bind_by_usb_port)"/>
        </include>
      </group>
    </group>

    <include file="$(find cleanrobot)/launch/mbf_nav.launch">
      <arg name="plan_db_path" value="$(arg plan_db_path)"/>
      <arg name="ops_db_path" value="$(arg ops_db_path)"/>
      <arg name="robot_id" value="$(arg robot_id)"/>
      <arg name="map_name" value="$(arg map_name)"/>
      <arg name="external_maps_root" value="$(arg external_maps_root)"/>
      <arg name="enable_depth_obstacle_tracking" value="$(arg enable_depth_obstacle_tracking)"/>
      <arg name="enable_depth_left_cam" value="$(arg enable_depth_left_cam)"/>
      <arg name="enable_depth_right_cam" value="$(arg enable_depth_right_cam)"/>
      <arg name="enable_depth_up_cam" value="$(arg enable_depth_up_cam)"/>
      <arg name="depth_left_points_topic" value="$(arg depth_left_points_topic)"/>
      <arg name="depth_right_points_topic" value="$(arg depth_right_points_topic)"/>
      <arg name="depth_left_obstacle_topic" value="$(arg depth_left_obstacle_topic)"/>
      <arg name="depth_right_obstacle_topic" value="$(arg depth_right_obstacle_topic)"/>
    </include>

    <!-- Official runtime owner chain:
         planner_server.launch -> slam_runtime_manager/slam_api_service.
         Do not start cleanrobot/cartographer_supervisor in formal bringup. -->
    <group if="$(arg start_planner_server)">
      <node pkg="coverage_planner" type="localization_lifecycle_manager_node.py" name="localization_lifecycle_manager" output="screen" respawn="true" respawn_delay="2.0">
        <param name="plan_db_path" value="$(arg plan_db_path)"/>
        <param name="ops_db_path" value="$(arg ops_db_path)"/>
        <param name="robot_id" value="$(arg robot_id)"/>
        <param name="runtime_ns" value="$(arg cartographer_runtime_ns)"/>
        <param name="app_service_name" value="$(arg restart_localization_app_service_name)"/>
        <param name="app_contract_param_ns" value="$(arg restart_localization_app_contract_param_ns)"/>
        <param name="map_topic" value="/map"/>
        <param name="tracked_pose_topic" value="/tracked_pose"/>
      </node>

      <include file="$(find coverage_planner)/launch/planner_server.launch">
        <arg name="plan_db_path" value="$(arg plan_db_path)"/>
        <arg name="ops_db_path" value="$(arg ops_db_path)"/>
        <arg name="maps_root" value="$(arg maps_root)"/>
        <arg name="robot_id" value="$(arg robot_id)"/>
        <arg name="map_topic" value="/map"/>
        <arg name="enable_rect_zone_planner" value="$(arg enable_rect_zone_planner)"/>
        <arg name="enable_odometry_health" value="false"/>
      </include>
    </group>
  </group>

  <!-- task+executor system (task manager owns auto charge) -->
  <include file="$(find coverage_task_manager)/launch/task_system.launch">
    <arg name="task_auto_charge_enable" value="true"/>
    <arg name="executor_auto_charge_enable" value="false"/>
    <arg name="dock_supply_enable" value="true"/>
    <arg name="plan_db_path" value="$(arg plan_db_path)"/>
    <arg name="ops_db_path" value="$(arg ops_db_path)"/>
    <arg name="maps_root" value="$(arg maps_root)"/>
    <arg name="robot_id" value="$(arg robot_id)"/>
    <arg name="start_odometry_health" value="true"/>
    <arg name="start_localization_lifecycle_manager" value="false"/>
    <arg name="run_map_migration" value="false"/>
  </include>

</launch>
