<launch>
  <arg name="serial_device" default="/dev/wheeltec_controller"/>
  <arg name="serial_baudrate" default="115200"/>
  <arg name="car_mode" default="senior_diff"/>
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="odom_frame_id" default="odom"/>
  <arg name="robot_frame_id" default="base_footprint"/>
  <arg name="gyro_frame_id" default="gyro_link"/>
  <arg name="publish_odom_tf" default="true"/>
  <arg name="odom_x_scale" default="1.0"/>
  <arg name="odom_y_scale" default="1.0"/>
  <arg name="odom_z_scale_positive" default="1.0"/>
  <arg name="odom_z_scale_negative" default="1.0"/>
  <arg name="start_battery_state_bridge" default="true"/>
  <arg name="battery_empty_voltage" default="20.0"/>
  <arg name="battery_full_voltage" default="25.2"/>

  <node pkg="turn_on_wheeltec_robot"
        type="wheeltec_robot_node"
        name="wheeltec_robot"
        output="screen"
        respawn="true"
        respawn_delay="2.0">
    <param name="usart_port_name" type="string" value="$(arg serial_device)"/>
    <param name="serial_baud_rate" type="int" value="$(arg serial_baudrate)"/>
    <param name="car_mode" type="string" value="$(arg car_mode)"/>
    <param name="odom_frame_id" type="string" value="$(arg odom_frame_id)"/>
    <param name="robot_frame_id" type="string" value="$(arg robot_frame_id)"/>
    <param name="gyro_frame_id" type="string" value="$(arg gyro_frame_id)"/>
    <param name="publish_odom_tf" type="bool" value="$(arg publish_odom_tf)"/>
    <param name="odom_x_scale" type="double" value="$(arg odom_x_scale)"/>
    <param name="odom_y_scale" type="double" value="$(arg odom_y_scale)"/>
    <param name="odom_z_scale_positive" type="double" value="$(arg odom_z_scale_positive)"/>
    <param name="odom_z_scale_negative" type="double" value="$(arg odom_z_scale_negative)"/>
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
  </node>

  <node if="$(arg start_battery_state_bridge)"
        pkg="robot_hw_bridge"
        type="wheeltec_battery_state_bridge.py"
        name="wheeltec_battery_state_bridge"
        output="screen">
    <param name="voltage_topic" value="/PowerVoltage"/>
    <param name="charging_flag_topic" value="/robot_charging_flag"/>
    <param name="charging_current_topic" value="/robot_charging_current"/>
    <param name="battery_topic" value="/battery_state"/>
    <param name="empty_voltage" value="$(arg battery_empty_voltage)"/>
    <param name="full_voltage" value="$(arg battery_full_voltage)"/>
  </node>
</launch>
