<launch>
  <arg name="world" default="$(find clean_robot_description)/worlds/factory_50x70_3blocks.world"/>
  <arg name="x" default="1.0"/>
  <arg name="y" default="1.0"/>
  <!-- root link base_footprint在地面，z一般=0 -->
  <arg name="z" default="0.0"/>

  <param name="use_sim_time" value="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="gui" value="true"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>

  <param name="robot_description" textfile="$(find clean_robot_description)/urdf/clean_robot.urdf"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_clean_robot" output="screen"
        args="-urdf -param robot_description -model clean_robot -x $(arg x) -y $(arg y) -z $(arg z)"/>
</launch>
