<launch>
  <arg name="mbf_timing_yaml" default="$(find clean_robot_description)/config/mbf_timing.yaml"/>
  <arg name="enable_depth_obstacle_tracking" default="true"/>
  <arg name="enable_depth_left_cam" default="true"/>
  <arg name="enable_depth_right_cam" default="true"/>
  <arg name="enable_depth_up_cam" default="true"/>
  <arg name="enable_move_base_legacy_relay" default="false"/>
  <arg name="legacy_relay_controller" default="MPPI_Standard_Controller"/>
  <arg name="plan_db_path" default="/data/coverage/planning.db"/>
  <arg name="ops_db_path" default="/data/coverage/operations.db"/>
  <arg name="robot_id" default="local_robot"/>
  <arg name="map_name" default=""/>
  <arg name="map_version" default=""/>
  <arg name="start_static_map_manager" default="false"/>
  <arg name="start_map_asset_service" default="true"/>

  <!-- 地图 -->
  <!-- <arg name="map_yaml" default="$(env HOME)/factory_map_cleaned.yaml"/> -->
  <!-- <arg name="map_yaml" default="$(env HOME)/yqs.yaml"/> -->
  <!-- <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_yaml)" /> -->

  <!-- AMCL（仿真里用里程计 + 激光就够了） -->
  <!-- <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_footprint"/>
    <param name="global_frame_id" value="map"/>
    <param name="scan_topic" value="/scan"/>
  </node> -->

  <group if="$(arg start_static_map_manager)">
    <node pkg="coverage_planner" type="static_map_manager_node.py" name="static_map_manager" output="screen">
      <param name="plan_db_path" value="$(arg plan_db_path)"/>
      <param name="ops_db_path" value="$(arg ops_db_path)"/>
      <param name="robot_id" value="$(arg robot_id)"/>
      <param name="map_name" value="$(arg map_name)"/>
      <param name="map_version" value="$(arg map_version)"/>
      <param name="map_topic" value="/map"/>
      <param name="metadata_topic" value="/map_metadata"/>
      <param name="frame_id" value="map"/>
      <param name="activate_service" value="/map_assets/activate"/>
    </node>
  </group>

  <group if="$(arg start_map_asset_service)">
    <node pkg="coverage_planner" type="map_asset_service_node.py" name="map_asset_service" output="screen">
      <param name="plan_db_path" value="$(arg plan_db_path)"/>
      <param name="robot_id" value="$(arg robot_id)"/>
      <param name="service_name" value="/clean_robot_server/map_server"/>
    </node>
  </group>

  <!-- MBF costmap 导航 -->
  <node pkg="mbf_costmap_nav" type="mbf_costmap_nav" name="move_base_flex" output="screen" clear_params="true">
    <!-- <remap from="/odom_to_ekf" to="/odom"/> -->
    
    <rosparam command="load" file="$(find clean_robot_description)/config/mbf_nav.yaml"/>
    <rosparam command="load" file="$(arg mbf_timing_yaml)"/>
    <rosparam command="load" file="$(find clean_robot_description)/config/costmap_common.yaml" ns="global_costmap"/>
    <rosparam command="load" file="$(find clean_robot_description)/config/costmap_common.yaml" ns="local_costmap"/>
    <rosparam command="load" file="$(find clean_robot_description)/config/global_costmap.yaml"/>
    <rosparam command="load" file="$(find clean_robot_description)/config/local_costmap.yaml"/>
  </node>

  <!-- 可选：如果你还想“像 move_base 一样”用 RViz 的默认工具/老接口，可再加 legacy relay（不加也能用，只是需要对接 MBF action） -->
  <!-- <node pkg="mbf_costmap_nav" type="move_base_legacy_relay.py" name="move_base_legacy_relay" output="screen"/> -->
  <group if="$(arg enable_move_base_legacy_relay)">
    <node pkg="mbf_costmap_nav" type="move_base_legacy_relay.py"
        name="move_base_legacy_relay" output="screen">
      <rosparam command="load" file="$(arg mbf_timing_yaml)"/>

    <!-- move_base 兼容参数名：很多版本的 relay 只读这俩 -->
      <param name="base_global_planner" value="ThetaStarPlanner"/>
      <param name="base_local_planner"  value="$(arg legacy_relay_controller)"/>

    <!-- 有些实现读 planner/controller（你之前设置的） -->
      <param name="planner"     value="ThetaStarPlanner"/>
      <param name="controller"  value="$(arg legacy_relay_controller)"/>
    </node>
  </group>

  <node pkg="coverage_planner" type="map_constraints_node.py" name="map_constraints" output="screen">
    <param name="plan_db_path" value="$(arg plan_db_path)"/>
    <param name="map_topic" value="/map"/>
    <param name="frame_id" value="map"/>
    <param name="constraints_topic" value="/map_constraints/current"/>
    <param name="publish_markers" value="true"/>
  </node>

  <group if="$(arg enable_depth_obstacle_tracking)">
    <include file="$(find ground_segmentation_tracking)/launch/duoxiangji.launch">
      <arg name="enable_cam1" value="$(arg enable_depth_left_cam)"/>
      <arg name="enable_cam2" value="$(arg enable_depth_right_cam)"/>
      <arg name="enable_cam3" value="$(arg enable_depth_up_cam)"/>
    </include>
  </group>



</launch>
