<launch>
  <arg name="enable_cam1"          default="true"/>
  <arg name="enable_cam2"          default="true"/>
  <arg name="enable_cam3"          default="false"/>

  <arg name="cam1_ns"            default="left"/>
  <arg name="cam1_input_topic"   default="/gemini_cf/depth/points"/>
  <arg name="cam1_output_topic"  default="obstacle_2d"/>
  <arg name="cam1_target_frame"  default="base_link"/>
  <arg name="cam1_queue_size"    default="5"/>

  <arg name="cam1_x_min" default="-2.0"/>
  <arg name="cam1_x_max" default="2.0"/>
  <arg name="cam1_y_min" default="-2.0"/>
  <arg name="cam1_y_max" default="1.6"/>
  <arg name="cam1_z_min" default="-5.0"/>
  <arg name="cam1_z_max" default="5.0"/>

<!-- 
  <arg name="cam1_x_min" default="-1.0"/>
  <arg name="cam1_x_max" default="2.0"/>
  <arg name="cam1_y_min" default="-1.0"/>
  <arg name="cam1_y_max" default="0.6"/>
  <arg name="cam1_z_min" default="-5.0"/>
  <arg name="cam1_z_max" default="5.0"/> -->

  <arg name="cam1_leaf"            default="0.015"/>
  <arg name="cam1_eps_angle_deg"   default="20.0"/>
  <arg name="cam1_dist_thresh"     default="0.02"/>
  <arg name="cam1_ransac_max_iter" default="300"/>
  <arg name="cam1_ror_r"           default="0.1"/>
  <arg name="cam1_ror_n"           default="10"/>
 
  <arg name="mean_k"  default="50"/>
  <arg name="std_mul" default="1.0"/>
  <arg name="plane_alpha" default="0.05"/>
  <arg name="dist_lo" default="0.04"/>
  <arg name="dist_hi" default="0.15"/>
  <arg name="self_filter_enabled" default="true"/>
  <arg name="self_x_min" default="-0.65"/>
  <arg name="self_x_max" default="0.65"/>
  <arg name="self_y_min" default="-0.55"/>
  <arg name="self_y_max" default="0.55"/>
  <arg name="cluster_filter_enabled" default="true"/>
  <arg name="cluster_tolerance" default="0.10"/>
  <arg name="min_cluster_size" default="18"/>
  <arg name="max_cluster_size" default="10000"/>
  <arg name="min_obstacle_points" default="18"/>

  <arg name="cam2_ns"            default="right"/>
  <arg name="cam2_input_topic"   default="/gemini_nj/depth/points"/>
  <arg name="cam2_output_topic"  default="obstacle_2d"/>
  <arg name="cam2_target_frame"  default="base_link"/>
  <arg name="cam2_queue_size"    default="5"/>
  
  <arg name="cam2_x_min" default="-2.0"/>
  <arg name="cam2_x_max" default="2.0"/>
  <arg name="cam2_y_min" default="-1.6"/>
  <arg name="cam2_y_max" default="1.0"/>
  <arg name="cam2_z_min" default="-5.0"/>
  <arg name="cam2_z_max" default="5.0"/>


  <!-- <arg name="cam2_x_min" default="-1.0"/>
  <arg name="cam2_x_max" default="2.0"/>
  <arg name="cam2_y_min" default="-0.6"/>
  <arg name="cam2_y_max" default="0.1"/>
  <arg name="cam2_z_min" default="-5.0"/>
  <arg name="cam2_z_max" default="5.0"/> -->

  <arg name="cam2_leaf"            default="0.015"/>
  <arg name="cam2_eps_angle_deg"   default="20.0"/>
  <arg name="cam2_dist_thresh"     default="0.02"/>
  <arg name="cam2_ransac_max_iter" default="300"/>
  <arg name="cam2_ror_r"           default="0.1"/>
  <arg name="cam2_ror_n"           default="10"/>

  <arg name="cam3_ns"            default="up"/>
  <arg name="cam3_input_topic"   default="/cam_3/depth/color/points"/>
  <arg name="cam3_output_topic"  default="obstacle_2d"/>
  <arg name="cam3_target_frame"  default="base_link"/>
  <arg name="cam3_queue_size"    default="5"/>
  
  <arg name="cam3_x_min" default="-2.0"/>
  <arg name="cam3_x_max" default="2.0"/>
  <arg name="cam3_y_min" default="-2"/>
  <arg name="cam3_y_max" default="2"/>
  <arg name="cam3_z_min" default="-5.0"/>
  <arg name="cam3_z_max" default="5.0"/>

  <arg name="cam3_leaf"            default="0.015"/>
  <arg name="cam3_eps_angle_deg"   default="20.0"/>
  <arg name="cam3_dist_thresh"     default="0.02"/>
  <arg name="cam3_ransac_max_iter" default="300"/>
  <arg name="cam3_ror_r"           default="0.1"/>
  <arg name="cam3_ror_n"           default="10"/>

  <group ns="$(arg cam1_ns)" if="$(arg enable_cam1)">
    <node pkg="ground_segmentation_tracking"
          type="gs_node"
          name="gs_node"
          output="screen"
          respawn="false">

      <param name="input_topic"  value="$(arg cam1_input_topic)"/>
      <param name="output_topic" value="$(arg cam1_output_topic)"/>
      <param name="target_frame" value="$(arg cam1_target_frame)"/>
      <param name="queue_size"   value="$(arg cam1_queue_size)"/>

      <param name="x_min" value="$(arg cam1_x_min)"/>
      <param name="x_max" value="$(arg cam1_x_max)"/>
      <param name="y_min" value="$(arg cam1_y_min)"/>
      <param name="y_max" value="$(arg cam1_y_max)"/>
      <param name="z_min" value="$(arg cam1_z_min)"/>
      <param name="z_max" value="$(arg cam1_z_max)"/>

      <param name="leaf"             value="$(arg cam1_leaf)"/>
      <param name="eps_angle_deg"    value="$(arg cam1_eps_angle_deg)"/>
      <param name="dist_thresh"      value="$(arg cam1_dist_thresh)"/>
      <param name="ransac_max_iter"  value="$(arg cam1_ransac_max_iter)"/>
      <param name="ror_r"            value="$(arg cam1_ror_r)"/>
      <param name="ror_n"            value="$(arg cam1_ror_n)"/>
      
      <param name="mean_k"  value="$(arg mean_k)"/>
      <param name="std_mul" value="$(arg std_mul)"/>
      <param name="plane_alpha" value="$(arg plane_alpha)"/>
      <param name="dist_lo" value="$(arg dist_lo)"/>
      <param name="dist_hi" value="$(arg dist_hi)"/>
      <param name="self_filter_enabled" value="$(arg self_filter_enabled)"/>
      <param name="self_x_min" value="$(arg self_x_min)"/>
      <param name="self_x_max" value="$(arg self_x_max)"/>
      <param name="self_y_min" value="$(arg self_y_min)"/>
      <param name="self_y_max" value="$(arg self_y_max)"/>
      <param name="cluster_filter_enabled" value="$(arg cluster_filter_enabled)"/>
      <param name="cluster_tolerance" value="$(arg cluster_tolerance)"/>
      <param name="min_cluster_size" value="$(arg min_cluster_size)"/>
      <param name="max_cluster_size" value="$(arg max_cluster_size)"/>
      <param name="min_obstacle_points" value="$(arg min_obstacle_points)"/>
    </node>
  </group>

  <group ns="$(arg cam2_ns)" if="$(arg enable_cam2)">
    <node pkg="ground_segmentation_tracking"
          type="gs_node"
          name="gs_node"
          output="screen"
          respawn="false">

      <param name="input_topic"  value="$(arg cam2_input_topic)"/>
      <param name="output_topic" value="$(arg cam2_output_topic)"/>
      <param name="target_frame" value="$(arg cam2_target_frame)"/>
      <param name="queue_size"   value="$(arg cam2_queue_size)"/>

      <param name="x_min" value="$(arg cam2_x_min)"/>
      <param name="x_max" value="$(arg cam2_x_max)"/>
      <param name="y_min" value="$(arg cam2_y_min)"/>
      <param name="y_max" value="$(arg cam2_y_max)"/>
      <param name="z_min" value="$(arg cam2_z_min)"/>
      <param name="z_max" value="$(arg cam2_z_max)"/>

      <param name="leaf"             value="$(arg cam2_leaf)"/>
      <param name="eps_angle_deg"    value="$(arg cam2_eps_angle_deg)"/>
      <param name="dist_thresh"      value="$(arg cam2_dist_thresh)"/>
      <param name="ransac_max_iter"  value="$(arg cam2_ransac_max_iter)"/>
      <param name="ror_r"            value="$(arg cam2_ror_r)"/>
      <param name="ror_n"            value="$(arg cam2_ror_n)"/>

      <param name="mean_k"  value="$(arg mean_k)"/>
      <param name="std_mul" value="$(arg std_mul)"/>
      <param name="plane_alpha" value="$(arg plane_alpha)"/>
      <param name="dist_lo" value="$(arg dist_lo)"/>
      <param name="dist_hi" value="$(arg dist_hi)"/>
      <param name="self_filter_enabled" value="$(arg self_filter_enabled)"/>
      <param name="self_x_min" value="$(arg self_x_min)"/>
      <param name="self_x_max" value="$(arg self_x_max)"/>
      <param name="self_y_min" value="$(arg self_y_min)"/>
      <param name="self_y_max" value="$(arg self_y_max)"/>
      <param name="cluster_filter_enabled" value="$(arg cluster_filter_enabled)"/>
      <param name="cluster_tolerance" value="$(arg cluster_tolerance)"/>
      <param name="min_cluster_size" value="$(arg min_cluster_size)"/>
      <param name="max_cluster_size" value="$(arg max_cluster_size)"/>
      <param name="min_obstacle_points" value="$(arg min_obstacle_points)"/>
    </node>
  </group>


  <group ns="$(arg cam3_ns)" if="$(arg enable_cam3)">
    <node pkg="ground_segmentation_tracking"
          type="gs_node"
          name="gs_node"
          output="screen"
          respawn="false">

      <param name="input_topic"  value="$(arg cam3_input_topic)"/>
      <param name="output_topic" value="$(arg cam3_output_topic)"/>
      <param name="target_frame" value="$(arg cam3_target_frame)"/>
      <param name="queue_size"   value="$(arg cam3_queue_size)"/>

      <param name="x_min" value="$(arg cam3_x_min)"/>
      <param name="x_max" value="$(arg cam3_x_max)"/>
      <param name="y_min" value="$(arg cam3_y_min)"/>
      <param name="y_max" value="$(arg cam3_y_max)"/>
      <param name="z_min" value="$(arg cam3_z_min)"/>
      <param name="z_max" value="$(arg cam3_z_max)"/>

      <param name="leaf"             value="$(arg cam3_leaf)"/>
      <param name="eps_angle_deg"    value="$(arg cam3_eps_angle_deg)"/>
      <param name="dist_thresh"      value="$(arg cam3_dist_thresh)"/>
      <param name="ransac_max_iter"  value="$(arg cam3_ransac_max_iter)"/>
      <param name="ror_r"            value="$(arg cam3_ror_r)"/>
      <param name="ror_n"            value="$(arg cam3_ror_n)"/>

      <param name="mean_k"  value="$(arg mean_k)"/>
      <param name="std_mul" value="$(arg std_mul)"/>
      <param name="plane_alpha" value="$(arg plane_alpha)"/>
      <param name="dist_lo" value="$(arg dist_lo)"/>
      <param name="dist_hi" value="$(arg dist_hi)"/>
      <param name="self_filter_enabled" value="$(arg self_filter_enabled)"/>
      <param name="self_x_min" value="$(arg self_x_min)"/>
      <param name="self_x_max" value="$(arg self_x_max)"/>
      <param name="self_y_min" value="$(arg self_y_min)"/>
      <param name="self_y_max" value="$(arg self_y_max)"/>
      <param name="cluster_filter_enabled" value="$(arg cluster_filter_enabled)"/>
      <param name="cluster_tolerance" value="$(arg cluster_tolerance)"/>
      <param name="min_cluster_size" value="$(arg min_cluster_size)"/>
      <param name="max_cluster_size" value="$(arg max_cluster_size)"/>
      <param name="min_obstacle_points" value="$(arg min_obstacle_points)"/>
    </node>
  </group>
  
</launch>
