
<launch>
  <param name="/use_sim_time" value="false" />
  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" output="screen">
   <!-- <remap from = "/scan" to="/output_scan" /> -->
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros" type="cartographer_occupancy_grid_node" args="-resolution 0.05" />
   
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 /map /odom 100" /> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="robot_pose_broadcaster" args="0 0 0 0 0 0 /gyro_link /base_footprint 100" /> -->

  
</launch>
