<!-- 使用那款雷达就启动哪个node
    确保cartographer配置文件中 开启了topic： /tracked_pose  ；use landmark= true
 -->
<launch>
<rosparam command="load" 
            file="$(find landmark)/config/param.yaml" />
<node name ="landmark_publisher" pkg="landmark" type="pub_landmark" output="screen"></node>
<!-- <node name ="landmark_publisher_716" pkg="landmark" type="pub_landmark_716" output="screen"></node> -->
<node name ="DM_Reader" pkg="landmark" type="tcp_server_node" output="screen"></node>
</launch>
